.App {
  text-align: center;
}

.app-header {
  align-items: center;
  background: linear-gradient(#fff, #222, #222);
  color: white;
  display: flex;
  font-family: starjedi;
  font-size: 5rem;
  height: 20vh;
  justify-content: center;
  text-transform: uppercase;
}
