h3 {
  font-family: starjedi;
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  padding-left: 2.5rem;
  text-align: left;
  margin-top: 1rem;
}

.card p {
  font-family: helvetica;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
  padding-left: 5rem;
  text-align: left;
}

.card {
  border-radius: 18px;
  border: solid #4F4C47 .25rem;
  display: inline-block;
  height: 30vh;
  margin: 1rem;
  overflow: scroll;
  padding: .5rem;
  text-align: left;
  width: 350px;
}

.card button {
  background: linear-gradient(#fff, #222, #222);
  border-radius: 50px;
  border: .1rem solid #fff;
  color: #fff;
  font-family: arial;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 3.8rem;
}

.card .true {
  border: .1rem solid #00aeef; 
  color: #00aeef; 
}

.planetCard {
  background-image: url('../../css-resources/planets.png');
  background-size: cover;
  background-blend-mode: overlay;
}

.characterCard {
  background-image: url('../../css-resources/people.png');
  background-size: cover;
  background-blend-mode: overlay;
}

.vehicleCard {
  background-image: url('../../css-resources/vehicles.png');
  background-size: cover;
  background-blend-mode: overlay;
}